<app-dashboard-navbar></app-dashboard-navbar>

<div class="container">
    <div class="buttons">
        <button 
            (click)="selectedTab = 'tab1'" 
            [class.active]="selectedTab === 'tab1'" class="head-btn">View All
        </button>
        <button 
            (click)="selectedTab = 'tab2'" 
            [class.active]="selectedTab === 'tab2'" class="head-btn">
            Reply
        </button>
        <button 
            (click)="selectedTab = 'tab3'" 
            [class.active]="selectedTab === 'tab3'" class="head-btn">
            Genarate Report
        </button>
    </div>

    @switch (selectedTab) {



        @case ('tab1') {
            <div class="feedbacks-header">
                <h2>All Feedback</h2>
                <div class="actions">
                    <input
                        type="text"
                        [value]="searchQuery()"
                        (input)="searchQuery.set($any($event).target.value)"
                        placeholder="Search feedbacks..."
                    />

                    <div class="custom-select-wrapper">
                        <span class="select-label">sort by :</span>
                        <select (change)="sortBy.set($any($event).target.value)">
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                        </select>
                        <img src="icons/arrow.svg" alt="Arrow" class="custom-arrow" />
                    </div>

                    
                </div>
            </div>

            <!-- Table Head -->
            <div class="feedbacks-table-head">
                <div>Name</div>
                <div class="amount">Category</div>
                <div class="number">Date</div>
                <div class="email">Message</div>
                <div class="status">Status</div>
                <div></div>
            </div>


            <div class="feedbacks-list">
                @for (feedback of filteredFeedbacks(); track feedback.id) {
                    <div class="feedback-row">
                        <div>{{ feedback.name }}</div>
                        <div>{{ feedback.category }}</div>
                        <div>{{ feedback.creationDate }}</div>
                        <div class="message">{{ feedback.message }}</div>
                        <div>{{ feedback.status }}</div>

                        
                        
                        
                        <div class="more-wrapper">
                            <img src="icons/more.svg" class="more" (click)="toggleMore(feedback)">
                    
                            @if (activePopoverFeedback() === feedback) {
                                
                                <div class="popover active">
                                <ul>
                                    <li (click)="setStatus(feedback.id, 'resolved')">
                                        <img src="icons/view.svg" alt=""> <span>resolve</span>
                                    </li>
                                    <li class = "block" (click)="setStatus(feedback.id, 'unresolved')">
                                        <img src="icons/block.svg" alt=""><span>Block</span> 
                                    </li>
                                </ul>
                    
                                
                                </div>
                            }
                        </div>
                    </div>
                    }
                </div>


            <div class="pagination-controls">
                <!-- Left Arrow -->
                <img 
                    src="icons/arrow_left.svg" 
                    (click)="goToPreviousPage()" 
                    [class.disabled]="!hasPreviousPage()" 
                    [attr.aria-disabled]="!hasPreviousPage()"
                />

                <!-- Current Page -->
                <span>{{ currentPage() + 1 }}</span> 

                <!-- Right Arrow -->
                <img 
                    src="icons/arrow_right.svg" 
                    (click)="goToNextPage()" 
                    [class.disabled]="!hasNextPage()" 
                    [attr.aria-disabled]="!hasNextPage()"
                />
            </div> 
        }



        @case ('tab2') {
            
        }



        @case ('tab3') {
            
        }

        @default {}
    }
</div>
